argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
audioop-lts==0.2.2
cffi==2.0.0
click==8.4.0
colorama==0.4.6
dill==0.4.1
iniconfig==2.3.0
joblib==1.5.3
miniaudio==1.61
numpy==2.4.1
packaging==26.0
pathvalidate==3.3.1
playsound==1.2.2
pluggy==1.6.0
pycparser==3.0
pydub==0.25.1
pyglet==2.1.12
Pygments==2.19.2
PySimpleGUI==5.0.8.3
pytest==9.0.2
regex==2026.5.9
setuptools==80.9.0
simpleaudio==1.0.4
tastyerrors==2025.0.2
tomli==2.4.0
tqdm==4.67.3
wheel==0.45.1
